{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="main">
    <div class="overlay"></div>
    <div class="container mt-5">
 <div class="col mt-2 pr-2">
    <a href="{% url 'contact' %}" >
    <img src="{{ MEDIA_URL }}abstract-tree.svg" alt="tree logo" id="tree-logo">
    </a>
</div>
    </div>
</div>
{% endblock %}